@font-face {
    font-family: 'pragmatapro';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapror_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapror_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapror_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapror_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapror_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapror_0824-webfont.svg#pragmataproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pragmatapro_mono';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapro_mono_r_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapro_mono_r_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapro_mono_r_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapro_mono_r_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapro_mono_r_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Regular0.824W/pragmatapro_mono_r_0824-webfont.svg#pragmatapro_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pragmatapro';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmataproi_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmataproi_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmataproi_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmataproi_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmataproi_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmataproi_0824-webfont.svg#pragmataproitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pragmatapro_mono';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmatapro_mono_i_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmatapro_mono_i_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmatapro_mono_i_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmatapro_mono_i_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmatapro_mono_i_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Italic0.824W/pragmatapro_mono_i_0824-webfont.svg#pragmatapro_monoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pragmatapro';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmataproz_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmataproz_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmataproz_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmataproz_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmataproz_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmataproz_0824-webfont.svg#pragmataprobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'pragmatapro_mono';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmatapro_mono_z_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmatapro_mono_z_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmatapro_mono_z_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmatapro_mono_z_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmatapro_mono_z_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-BoldItalic0.824W/pragmatapro_mono_z_0824-webfont.svg#pragmatapro_monobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'pragmatapro';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmataprob_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmataprob_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmataprob_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmataprob_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmataprob_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmataprob_0824-webfont.svg#pragmataprobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'pragmatapro_mono';
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmatapro_mono_b_0824-webfont.eot');
    src: url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmatapro_mono_b_0824-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmatapro_mono_b_0824-webfont.woff2') format('woff2'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmatapro_mono_b_0824-webfont.woff') format('woff'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmatapro_mono_b_0824-webfont.ttf') format('truetype'), url('https://s3.amazonaws.com/fonts-47/PragmataPro0.824W/PragmataPro-Bold0.824W/pragmatapro_mono_b_0824-webfont.svg#pragmatapro_monobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.horizontalNav {
    display: none;
}

body {
    background: #2B384A;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, #site-header {
    color: #fff;
    font-family: 'pragmatapro', sans-serif;
    text-transform: uppercase;
}

.jumbotron {
    padding-top: 82px;
    text-align: center;
    background-image: url(../img/jumbotron_pattern.png), url(../img/brand-pattern.png);
    background-position: left top, right top;
    background-repeat: repeat, no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .jumbotron {
        background-image: url(../img/jumbotron_pattern2x.png), url(../img/brand-pattern2x.png);
        background-position: left top, right top;
        background-repeat: repeat, no-repeat;
        background-size: 72px 42px, 401px 238px;
    }
}

.home-code:nth-child(2) {
  background: #202D40;
}

.jumbotron img {
    max-width: 434px;
    height: auto;
}

.jumbotron p {
    margin-bottom: 28px;
}

.jumbotron .GitHub-link {
    padding: 0;
    margin: 0;
    text-transform: none;
    font-size: 18px;
}

.jumbotron .GitHub-link li {
    list-style: none;
    display: inline-block;
    margin-right: 14px;
}

.jumbotron .GitHub-link li a:hover {
    text-decoration: none;
}

.jumbotron .GitHub-link li.dot {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}

.jumbotron .GitHub-link li:last-child {
    margin-right: 0;
}

.jumbotron .GitHub-link li i {
    margin-right: 6px;
}

.home-code {
    padding: 50px 0 0 0;
}

.use {
  padding-bottom: 0;
}

#site-main h1 {
    font-size: 32px;
}
ree trait UserRepository[F[_]] {
  def get(id: Long): OpSeq[User]
  def save(user: User): OpSeq[User]
  def list: OpSeq[List[User]]
}
#site-main p {
    margin-bottom: 30px;
}

#site-main pre {
    margin-bottom: 50px;
}

code {
    font-family: 'pragmatapro';
}

#content code, #page-content-wrapper section pre {
    background: #142236;
    color: #fff;
}

#page-content-wrapper section {
    background: #202D40;
}

pre {
    border: none;

}

.technologies {
    background: #202D40;
}


#site-footer {
    background: #142236;
}

.btn {
    border-radius: 0;
}


/* Doc */

body.docs {
    background: #202D40;
}

#page-content-wrapper section {
    padding: 0;
}

.sidebar-nav>.sidebar-brand a {
    background: #0F1B2C;
}

.sidebar-nav>.sidebar-brand a:hover {
    background: #0F1B2C;
}

#page-content-wrapper .nav {
    background: #0F1B2C;
}

#sidebar-wrapper {
    font-family: 'pragmatapro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.label-default {
  background: #202D40;
}

@media screen and (min-width: 768px) {
    .jumbotron h1 {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        padding-top: 82px;
    }
}

@media screen and (max-width: 470px) {
    .jumbotron img {
        width: 100%;
    }
    .jumbotron h1 {
        font-size: 36px;
    }
}
