@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #142236; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #202D40; }

::-moz-selection {
  background: #01C2C2;
  color: #E6E7EC; }

::selection {
  background: #01C2C2;
  color: #E6E7EC; }

.jumbotron {
  background-color: #142236; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #E6E7EC;
    color: #E6E7EC; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #E6E7EC;
      color: #142236; }

pre {
  background: rgba(244, 245, 249, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #F4F5F9; }

#content code {
  color: #646D7B;
  background-color: #F4F5F9; }

#sidebar-wrapper {
  background: #142236; }

#page-content-wrapper .nav a {
  color: #646D7B; }
  #page-content-wrapper .nav a:hover {
    color: #383D44; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #202D40; }
.sidebar-nav > li a.active {
  border-left: 3px solid #01C2C2;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #202D40; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #202D40; }
